extends layout

block content
    if alertmessage
        p(style="color: red")=alertmessage
    if loggedin && isadmin
        a(href ="/blog/addpost") Add New Post
    if posts
        each val in posts
            article(class="mainblog")
                header
                    h1= val.posttitle
                    p
                        time= val.postdate
                p= val.postbody