extends layout

block content

    article(class="mainblog")
        div
            heading
                h1=Bio
            p Almos Peter Lataan is avid photographer who values art’s transcendent value, but also its potential to become something far greater. Finding interests in religion, philosophy, and world cinema, Almos believes that our purpose, if given the chance, should be to eventually bear fruit from our endeavors, and give something positive back to the world, hopefully something that can take people forward rather than backward. How to realise this will be different for everyone.

            p Should you wish to contact Almos, then you can email AlmosLataan@gmail.com.