extends layout

block content
  img(src="/images/HomePage/louvreblue3_350k.jpg" width="30%" alt="Part 1 of mosaic Home page image of La Louvre" title="Part 1 of mosaic Home page image of La Louvre") 
  img(src="/images/HomePage/louvregrey_350k.jpg" width="30%" alt="Part 2 of mosaic Home page image of La Louvre" title="Part 2 of mosaic Home page image of La Louvre") 
  img(src="/images/HomePage/louvreblue3_350k.jpg" width="30%" alt="Part 3 of mosaic Home page image of La Louvre" title="Part 3 of mosaic Home page image of La Louvre") 
  div(id="HomeImagePane")
    //- img(src="/images/homepage/standing_res500k.jpg" width="100%") 
    //- img(src="/images/homepage/pillar_500k.jpg" width="100%") 
  //- h1= title
  //- p You have arrived at the Dream State: #{title}
  //- div.loginbox
  //-   form(name="login", action="/login", method="post")
  //-     input(type="text", name="user")
  //-     input(type="password", name="pass")
  //-     input(type="submit", value="login")
      
  
