doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/styleblog.css')
    meta(name='google-site-verification', content='9_tUz7QW3PItK3w4imS9s9LSqGvbGSDh__0Edj_pNJM')
    meta(name="google-site-verification" content="KOkA7suzQ1iLTHI00YJUa6RuB8MJ6IsziZNK9MIxErc")
    meta(name='p:domain_verify', content='06ae7a2ed85608b9b3d1d50660376f4a')
    script(async, defer, src='https://apis.google.com/js/platform.js')
    script(src='https://www.google.com/recaptcha/api.js')
    script(async, defer, src="//assets.pinterest.com/js/pinit.js")
    script. 
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-83385532-1', 'auto');
      ga('send', 'pageview');
  body
    div(id="fb-root")
    script.
      (function(d, s, id) {var js, fjs = d.getElementsByTagName(s)[0];if (d.getElementById(id)) return;js = d.createElement(s); js.id = id;js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.8";fjs.parentNode.insertBefore(js, fjs);}(document, 'script', 'facebook-jssdk'));
    div(id="container")
      div(class="navdiv")
        nav(class="navvertical")
          ul
            li
              a(href ="/", style="font-size: 1.5em; margin-right:5%") AlmosLataan.com
            li
              a(href ="/portfolio" class="navlinks") Portfolio
            li
              a(href ="/blog" class="navlinks") Blog
            li
              a(href ="/store" class="navlinks") Store
            li
              a(href ="/contact" class="navlinks") About
            if !loggedin
              li
                a(href ="/login" class="navlinks") Login
            else
              li
                a(href ="/admin" class="navlinks") Admin
              form(name="logout", action="/logout", method="post")
                input(type="submit", value="logout")
            li
              div(class="footer")
                p Website Design by AlmosLataan.  AlmosLataan © 2016. Material on this site may not be reproduced, distributed, transmitted or otherwise used without the prior written consent of AlmosLataan.com
            li
              div(id="socialcontainer", style="display: inline-block;")
                div(class="fb-like", data-href="http://almoslataan.com", data-layout="button", data-action="like", data-size="small", data-show-faces="false", data-share="true")
                div(style="margin: 0 0 0 0;border:solid;", class="g-plusone", data-size="medium", data-annotation="none", data-width="120\b")
                <a data-pin-do="buttonFollow" href="https://www.pinterest.com/pinterest/almoslataan/"></a>
      div(class="maincontent")
        block content
