extends layout

block content
    article(class="mainblog")
        div
            heading
                h1 Buy Prints
            p Prints shall be available through the shops listed below.  These may be limited in number.  If you would like a print that is not listed, then please contact us.
            br
            a(href="https://www.etsy.com/shop/AlmosLataan?ref=l2-shopheader-name") AlmosLataan Etsy Shop